# Your MetaMask Private Key (Must have Base Sepolia ETH)
PRIVATE_KEY=""

# Your Base Sepolia RPC URL (Public RPC or Alchemy/Infura)
# Alchemy: https://base-sepolia.g.alchemy.com/v2/YOUR_API_KEY
RPC_URL="https://sepolia.base.org"
